<!-- START JUMBOTRON -->
<div class="jumbotron no-margin"x>
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <h3>{{name}}</h3>
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->

<div class="container-fluid container-fixed-lg">

  <!-- START BREADCRUMB -->
  <ul class="breadcrumb">
    <li>
      <p>Users</p>
    </li>
    <li>
      <span class="active">{{name}}</span>
    </li>
  </ul>
  <!-- END BREADCRUMB -->

</div>
