<!-- BEGIN SIDEBAR -->
<div class="page-sidebar" data-pages="sidebar">
  <div id="appMenu" class="sidebar-overlay-slide from-top">
  </div>
  <!-- BEGIN SIDEBAR HEADER -->
  <div class="sidebar-header">
    <img alt="logo" class="brand" width="40" src="/assets/antiquarium/logo/logo.white.png" data-src="/assets/antiquarium/logo/logo.white.png" data-src-retina="/assets/antiquarium/logo/logo.white@2x.png">
  </div>
  <!-- END SIDEBAR HEADER -->
  <!-- BEGIN SIDEBAR MENU -->
  <div class="sidebar-menu">
    <ul class="menu-items">

      {{#link-to 'dashboard' tagName='li' href=false class='m-t-30'}}
        {{#link-to 'dashboard' class='detailed'}}
          <span class="title">Dashboard</span>
        {{/link-to}}
        <span class="icon-thumbnail"><i class="fa fa-dashboard"></i></span>
      {{/link-to}}


      <li class="">
        <a href="#" class="detailed">
          <span class="title">Search</span>
        </a>
        <span class="icon-thumbnail"><i class="pg-search"></i></span>
      </li>


      <li class="">
        <a href="javascript:;">
          <span class="title">Explore</span>
          <span class="arrow"></span>
        </a>
        <span class="icon-thumbnail "><img src="/assets/antiquarium/svg/explore.svg" width="15"></span>

        <ul class="sub-menu">
          {{#link-to 'artifacts' tagName='li' href=false}}
            {{#link-to 'artifacts.index'}}Artifacts{{/link-to}}
            <span class="icon-thumbnail"><i class="fa fa-cubes"></i></span>
          {{/link-to}}

          {{#link-to 'people' tagName='li' href=false}}
            {{#link-to 'people'}}People{{/link-to}}
            <span class="icon-thumbnail"><i class="fa fa-users"></i></span>
          {{/link-to}}

          {{#link-to 'places' tagName='li' href=false}}
            {{#link-to 'places'}}Places{{/link-to}}
            <span class="icon-thumbnail"><i class="pg-map"></i></span>
          {{/link-to}}

          {{#link-to 'sources' tagName='li' href=false}}
            {{#link-to 'sources'}}Sources{{/link-to}}
            <span class="icon-thumbnail"><i class="fa fa-sitemap"></i></span>
          {{/link-to}}

        </ul>
      </li>


      <li class="">
        <a href="javascript:;">
          <span class="title">Tasks</span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-puzzle-piece"></i></span>
      </li>


      <li class="">
        <a href="javascript:;">
          <span class="title">Discussion</span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-quote-right"></i></span>
      </li>


      <li class="">
        <a href="#">
          <span class="title">Get Help</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-question-circle"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="#">Guides/Docs</a>
            <span class="icon-thumbnail"><i class="fa fa-file-text-o"></i></span>
          </li>
          <li class="">
            <a href="#">FAQs</a>
            <span class="icon-thumbnail"><i class="fa fa-check-square"></i></span>
          </li>
        </ul>
      </li>


    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->



<!-- PAGE CONTAINER -->
<div class="page-container">

  <!-- HEADER -->
  <div class="header ">
    <!-- Mobile Controls -->
    <div class="pull-left full-height visible-sm visible-xs">
      <div class="sm-action-bar">
        <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
          <span class="icon-set menu-hambuger"></span>
        </a>
      </div>
    </div>
    <div class="pull-right full-height visible-sm visible-xs">
      <div class="sm-action-bar">
        <a href="#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
          <span class="icon-set menu-hambuger-plus"></span>
        </a>
      </div>
    </div>
    <!-- / Mobile Controls -->


    <div class=" pull-left sm-table">
      <div class="header-inner">
        <!-- Logo -->
        <div class="brand inline">
          {{#link-to 'dashboard'}}
            <img alt="logo" width="190" src="/assets/antiquarium/antiquarium/antiquarium@2x.png" data-src="/assets/antiquarium/antiquarium/antiquarium@2x.png" data-src-retina="/assets/antiquarium/antiquarium/antiquarium.png@2x.png">
          {{/link-to}}
        </div>
        <!-- / Logo -->

        <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">
          <!-- Notifications -->
          <!-- / Notifications -->

          <!-- User -->
          <li class="p-r-15 inline fs-16">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="menu">
                <span class="text-master">
                  Miles Zimmerman <i class="pg-arrow_minimize"></i>
                </span>
              </a>
              <ul class="dropdown-menu profile-dropdown" role="menu">
                <li>
                  <a href="#"><i class="pg-settings_small"></i> Settings</a>
                </li>

                <li class="bg-master-lighter">
                  <a href="logout" {{action 'invalidateSession'}} class="clearfix">
                    <span class="pull-left">Logout</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- / User -->
        </ul>

        <!-- Search -->
        <a href="#" class="search-link" data-toggle="search">
          <i class="pg-search"></i>Type anywhere to <span class="bold">search</span>
        </a>
        <!-- / Search -->
      </div>
    </div>


    <!-- Page Controls -->
    <div class=" pull-right">
      <div class="header-inner">
        <a href="#" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"></a>
      </div>
    </div>
    <!-- / Page Controls -->
  </div>
  <!-- / PAGE HEADER -->


  <div class="page-content-wrapper">
    <div class="content">

      {{outlet}}

    </div>


    <!-- START FOOTER -->
    <div class="container-fluid container-fixed-lg footer">
      <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
          <span class="hint-text">Copyright © 2015</span>
          <span class="font-montserrat">Antiquarium LLC</span>.
          <span class="hint-text">All rights reserved.</span>
          <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="/legal/privacy_policy" class="m-l-10">Privacy Policy</a>
          </span>
        </p>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- END FOOTER -->
  </div>
</div>
<!-- / PAGE CONTAINER -->
