<!-- START JUMBOTRON -->
<div class="jumbotron no-margin" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <h3>Explore Artifacts</h3>
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->


<div class="container-fluid container-fixed-lg">
  <!-- START BREADCRUMB -->
  <ul class="breadcrumb">
    <li>
      <p>Artifacts</p>
    </li>
    <li><span class="active"></span>
    </li>
  </ul>
  <!-- END BREADCRUMB -->
</div>

{{outlet}}
