<!-- START JUMBOTRON -->
<div class="jumbotron no-margin">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <h3>Dashboard</h3>
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->

{{outlet}}
