<div class="container-xs-height full-height">
  <div class="row-xs-height">
    <div class="col-xs-height col-middle">
      <div class="error-container text-center">
        <h1 class="error-number">404</h1>
        <h2 class="semi-bold">Sorry, but we could not find this page</h2>
        <p>It must have some questionable provenance...</p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="pull-bottom sm-pull-bottom full-width">
  <div class="error-container">
    <div class="error-container-innner">
      <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
        <div class="col-sm-3 no-padding">
          <img alt="logo" class="m-t-5" width="60" height="60" src="/assets/antiquarium/favicon/favicon.60.png" data-src="/assets/antiquarium/favicon/favicon.60.png" data-src-retina="/assets/antiquarium/favicon/favicon.120.png">
        </div>
        <div class="col-sm-9 no-padding">
          <p>
            <small>Copyright © 2015 <strong>Antiquarium LLC.</strong> <br>All rights reserved.</small>
          </p>
          <p>
            <small><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="javascript:;" class="m-l-10">Privacy Policy</a></small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
